<form [formGroup]="newProductForm" (ngSubmit)="onSave(newProductForm.value)">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" required class="form-control" formControlName="title" [(ngModel)]="product.title" />
        <div
          class="alert alert-danger mt-3"
          role="alert"
          *ngIf="title.invalid && title.touched"
          class="alert alert-danger"
          role="alert"
        >
          Title is required and it's length must be greater than 2 letters.
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>

          <input id="price" name="price" type="number" class="form-control" formControlName="price" placeholder="0" [(ngModel)]="product.price" />
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="price.invalid && price.touched"
          class="alert alert-danger"
          role="alert"
        >
          Please enter an amount greater than zero.
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select id="category" name="category" class="form-control" formControlName="category" required [(ngModel)]="product.category">
          <option value="" disabled selected>Please select car type...</option>
          <option *ngFor="let c of categories$ | async" [value]="c.name">{{ c.name }}</option>
        </select>
        {{ category.value }}
        <div class="alert alert-danger" role="alert" *ngIf="category.invalid && category.touched">
          Please enter your product's category.
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image Url</label>
        <input id="imageUrl" name="imageUrl" type="text" class="form-control" formControlName="imageUrl" [(ngModel)]="product.imageUrl" />
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="
          newProductForm.controls['imageUrl'].errors?.required &&
          (newProductForm.controls['imageUrl'].dirty || newProductForm.controls['imageUrl'].touched)
        "
      >
        You should provide picture for your product.
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="newProductForm.controls['imageUrl'].touched && newProductForm.controls['imageUrl'].errors?.validUrl"
      >
        Please provide valid Url
      </div>
      <p>Form Status: {{ newProductForm.status }}</p>
      <button type="submit" class="btn btn-success" [disabled]="!newProductForm.valid">Save</button>
      <button type="button" class="btn btn-light ml-2" (click)="onReset()">Reset</button>
      <button type="button" class="btn btn-danger ml-2" (click)="onDelete()" [disabled]="!productId">Delete</button>
    </div>
    <div class="col-md-6">
      <h3>Product's Preview</h3>
      <div *ngIf="title.value || price.value || imageUrl.value; else elseBlock">
        <div class="card" style="width: 18rem;">
          <img *ngIf="imageUrl" [src]="imageUrl.value" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ title.value }}</h5>
            <p class="card-text">{{ price.value | currency: 'USD' }}</p>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>Please enter information about the product using form on the left</ng-template>
    </div>
  </div>
</form>

<jw-modal id="productCreatedSuccessfullyModal">
  <h1>Success!</h1>
  <p>New product has been created.</p>
  <button class="btn-outline" (click)="closeModal('productCreatedSuccessfullyModal')">Close</button>
</jw-modal>
