<div class="row">
  <ng-container *ngFor="let p of products$ | async; let i = index">
    <div class="col">
      <div class="card">
        <img [src]="p.imageUrl" class="card-img-top" alt="Product Picture">
        <div class="card-body">
          <h5 class="card-title">{{ p.title }}</h5>
          <p class="card-text">{{ p.price | currency }}</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div> -->
</div>