<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a 
        *ngFor="let c of categories$ | async" 
        class="list-group-item list-group-item-action"
        routerLink="/"
        [class.active]="category === c.shortcode"
        [queryParams]="{ category: c.shortcode }">
        {{ c.name }}
      </a>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col">
          <div class="card">
            <img [src]="p.imageUrl" class="card-img-top" alt="Product Picture">
            <div class="card-body">
              <h5 class="card-title">{{ p.title }}</h5>
              <p class="card-text">{{ p.price | currency }}</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>